*, ::before, ::after {
    box-sizing: border-box;
}

.calculator {
    margin: 1em auto 0;
    padding: 2em;
    width: 300px;
    background: rgb(206, 206, 206);
    border-radius: 5px;
}

#calculator__display {
    width: 100%;
    padding: 0.5rem;
    font-size: 2rem;
}

.calculator__buttons-container {
    display: flex;
}

.calculator__button {
    padding: 0.5rem;
    margin: 0.1rem;
    font-size: 1rem;
}

.calculator__operands {
    flex-basis: 70%;

    /* Wrap the digits */
    display: flex;
    flex-wrap: wrap;
}